# Python
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Django
db.sqlite3
media/
*.log

# Environment
.env
.env.*
!.env.example

# Node / Angular
node_modules/
dist/
.angular/

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
